{% extends 'base.html.twig' %}

{% block body %}
<h1>Mes projets</h1>
{% for project in projects %}
<a href="{{ path('project_show', {'id' : project.id}) }}"><img src="http://placekitten.com/300/200" alt=""></a>
<h3>{{ project.title }}</h3>
{% endfor %}
{% endblock %}