<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} - Portfolio Célia Boisseau{% endblock %}</title>
        <link rel="stylesheet" href="/assets/style/baseStyle.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <section class="navBar">
            <div class="openButton">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <h1><a id="topLogo" href="{{ path('home') }}">Célia Boisseau - Portfolio</a></h1>
            <nav class="sideNav">
                <a href="javascript:void(0)" class="closeButton">&times;</a>
                <ul class="nav">
                    <li class="navLink"><a class="link" href="{{ path('project_index') }}">Mes projets</a></li>
                    <li class="navLink"><a class="link" href="#contactMe">Me contacter</a></li>
                </ul>
            </nav>
        </section>
        {% block body %}{% endblock %}
        <button id="returnTop">^</button>
        <footer>
            <h2 id="contactMe">Me contacter :</h2>
            <nav class="socialNetWork">
                <a href="#">GitHub</a>
                <a href="#">LinkedIn</a>
                <a href="#">Email</a>
            </nav>
        </footer>
        <script src="/assets/js/base.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
